{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/prefer-namespace-keyword": "off",
        "@typescript-eslint/no-namespace": "off",
        "no-extra-boolean-cast": "off"
    },
    "overrides": [
        {
            "files": ["*.js", "*.cjs"],
            "env": {
                "node": true
            },
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}